/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.06.2020
    Authors     : Anedhel & Jukoz
*/

/* overall page design */
header{
    text-align: center;
    text-shadow: 1px 0.5px grey;
    font-style: italic;
    word-spacing: 20px;
    background-color: #17202a;
}

/*dropdown Button*/
.dropheadline {
    /* General class of the drop button */
    position: relative;
    display: inline-block;
    padding: 16px;
    padding-right: 4%;
    padding-left: 4%;
}
.dropcontent {
    /* content of the drop */
    display: none;
    position: absolute;
    width: 270px;
    margin-right: 250px;
    background-color: #bbbbbb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    margin-left: -100px;
    overflow-y: scroll;
    height: 400%;
}

/*Scroll Bar Style !*/
::-webkit-scrollbar { 
    width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

.dropcontent a {
    /* links in the drop */
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropcontent a:hover {
    /* changes of the links in the drop upon hovering over them */
    background-color: #aaaaaa;
    position: relative;
    
}
.dropheadline:hover .dropheadline {
    /* changes to the dropdown button upon hover */
    background-color: #bbbbbb;
}
.dropheadline:hover .dropcontent {
    /* showing of the dropcontent for hovering */
    display: block;
}
.dropheadlinebtn{
    /* button for the dropdown */
    background-color: #17202a;
    border: none;
    font-style: italic;
    color: #fff;
    word-spacing: 20px;
    text-shadow: 1px 0.5px grey;
    font-size: 100%; 
    font-weight: bold;
    font-family: times;
}
/* End of the button design */

/*Dropdown Button Startseite */
.dropindex{
    /* Umliegende Class des Dropbuttons */
    position: relative;
    display: inline-block;
}
.dropindex:hover .hobbybtn {
    /* Änderung des Buttons bei hover */
    background-color: #bbbbbb;
}
.dropindex:hover .dropcontent {
    /* Anzeige des Dropcontents wenn hover über Button */
    display: block;
}
.indexbtn{
    /* Button Startseite */
    background-color: #cccccc;
    border: none;
    font-style: italic;
    word-spacing: 20px;
    text-shadow: 1px 0.5px grey;
    font-size: 100%; 
    font-weight: bold;
    font-family: times;
}
/* END design mainpage button */

/*Carousel-Slides*/

#slider {
    margin: 0;
    width: 100%;
    text-align: center;
}
#slider input[type=radio]{
    display: none;
}
#slider label {
    cursor: pointer;
    text-decoration: none;
}
#slides {
    position: relative;
    z-index: 2;
}
#overflow {
    width: 100%;
    overflow: hidden;
}
#slide1:checked ~ #slides .inner {
    margin-left: 0;
}
#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slides .inner {
    transition: margin-left 800ms;
    width: 400%;
    line-height: 0;
    height: 90%;
}
#slides .slide {
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}
.slide-content img {
    height: 750px;
    width: 100%;
    object-fit: cover;
}
#bullets {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 48%;
}
#bullets label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #ddd;
    margin: 0 10px;
}
#bullets label:hover {
    background-color: #eee;
    transition: 0.3s;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3) {
    background-color: #fff;
}
/*END CAROUSEL!!!*/
/*Main Page*/
main{
    text-align: center; 
    font-family:times;
    font-size: 125%;
}
body{
    margin: 0px;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

.title-block {
    text-align: left;
    padding-bottom: 15px;
}

.block-text {
    font-size: 120%;
}

.block {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 35px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    z-index: 1;
    box-shadow: 8px 8px 20px 8px rgba(0,0,0,0.33);
}

.inline {
    display: inline-block;
    margin-left: 8%;
    margin-right: 8%;
}

footer{
    bottom: 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-style:italic;
    font-size:120%;
    text-shadow: 1px 0.5px grey;
    background-color: #17202a;
    color: white
}
/* Ende Allgemeines Seitendesign */

/* Allgemeines Text, Headline & Linkdesign */
a{
    text-decoration: none;
    color: white;
}

h1{
    font-family: vivaldi;
}
h3{
    font-family: vivaldi;
    font-size: 200%;
}

h4{
    font-family: vivaldi;
    font-size: 180%;
    margin-bottom: 5px;
}

h5{
    font-family: vivaldi;
}

.staff_names {
    font-weight: bold;
    font-size: 20px;
}

/* Ende Allgemeines Text, Headline & Linkdesign */

/* Design long pages */
.between{
    /* Erstellt Farbige Balken zwsichen den Hobby Artikeln */
    background-color: #AE9374;
    height: 2px;
}
.headlinearticles{
    /* Ändert die Hobby Arikel Überschriften */
    font-family: times;
}


.invisLink{
    /* macht die zwischentext Links weniger auffällig */
    color: black;
}
#head{
    /* header of the page */
    position: relative;

    background-color: #AE9374;
    margin: 0 auto;
    text-align: center;
    font-size: 225%;
    margin-top: 1%;
    width: 200px;
    margin-bottom: -2.5%;
    padding: 6px;
    z-index: 2;
    box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.4);
}

/* END design long pages */

/* Design Impressum*/
#impressum{
    font-family: times;
}
/* End Design Impressum*/

/*Design Hoverable Sidenav*/

.sidenav {
    height: 500px;
    widht: 150px;
    overflow-y: scroll;
    position: absolute;
}

#Sidenav a {
   /* Position them relative to the browser window */
  position: relative;
  left: -70px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#Sidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#explanationhover {
  top: 0px;
  background-color: #17202A;
}

#generalhover {
  top: 60px;
  background-color: #17202A; /* Blue */
}

#pvphover {
  top: 120px;
  background-color: #17202A; /* Red */
}

#gearhover {
  top: 180px;
  background-color: #17202A
}

#huntinghover {
  top: 240px;
  background-color: #17202A
}

#generalwarhover {
  top: 300px;
  background-color: #17202A
}

#civilwarhover {
  top: 360px;
  background-color: #17202A
}

#expansionhover {
  top: 420px;
  background-color: #17202A
}

#discordhover {
  top: 480px;
  background-color: #17202A
}
/*End Hoverable Sidenav*/

/*Download Button*/
.downloadbutton {
  background-color: #17202A;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
}
/*End Download Button*/
