/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.06.2020
    Author     : Anedhel
*/

/* Allgemeines Seitendesign */
header{
    text-align: center;
    text-shadow: 1px 0.5px grey;
    font-style: italic;
    word-spacing: 20px;
    background-color: #cccccc;
}

/*Dropdown Button Hobbies */
.dropheadline {
    /* Umliegende Class des Dropbuttons */
    position: relative;
    display: inline-block;
}
.dropcontent {
    /* Inhalt des Drops */
    display: none;
    position: absolute;
    background-color: #bbbbbb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropcontent a {
    /* Links im Drop */
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropcontent a:hover {
    /* Änderung der Drop links bei hover */
    background-color: #aaaaaa
}
.dropheadline:hover .hobbybtn {
    /* Änderung des Buttons bei hover */
    background-color: #bbbbbb;
}
.dropheadline:hover .dropcontent {
    /* Anzeige des Dropcontents wenn hover über Button */
    display: block;
}
.dropheadlinebtn{
    /* Button Hobbies */
    background-color: #cccccc;
    border: none;
    font-style: italic;
    word-spacing: 20px;
    text-shadow: 1px 0.5px grey;
    font-size: 100%; 
    font-weight: bold;
    font-family: times;
}
/* Ende Dropdown Button Hobbies */

/*Dropdown Button Startseite */
.dropindex{
    /* Umliegende Class des Dropbuttons */
    position: relative;
    display: inline-block;
}
.dropindex:hover .hobbybtn {
    /* Änderung des Buttons bei hover */
    background-color: #bbbbbb;
}
.dropindex:hover .dropcontent {
    /* Anzeige des Dropcontents wenn hover über Button */
    display: block;
}
.indexbtn{
    /* Button Startseite */
    background-color: #cccccc;
    border: none;
    font-style: italic;
    word-spacing: 20px;
    text-shadow: 1px 0.5px grey;
    font-size: 100%; 
    font-weight: bold;
    font-family: times;
}
/* Ende Dropdown Button Startseite */
main{
    text-align: center; 
    font-family:times;
    font-size: 125%;
}
body{
    margin: 0px;
}
footer{
    text-align: center;
    font-style:italic;
    font-size:120%;
    text-shadow: 1px 0.5px grey;
    background-color: #cccccc;
}
/* Ende Allgemeines Seitendesign */

/* Allgemeines Text, Headline & Linkdesign */
a{
    text-decoration: underline;
    text-decoration-color: grey;
}
h1{
    font-family: vivaldi;
}
h3{
    font-family: vivaldi;
}
h5{
    font-family: vivaldi;
}
/* Ende Allgemeines Text, Headline & Linkdesign */

/* Design Hobbies */
.zwischenHobbies{
    /* Erstellt Farbige Balken zwsichen den Hobby Artikeln */
    background-color: #dddddd;
}
.headlinehobbies{
    /* Ändert die Hobby Arikel Überschriften */
    font-family: times;
}
aside{
    /* Setze die Seitliche Navigation */
    background-color: #ffe9e9;
    position: fixed;
    border: #eed8d8;
    border-style:groove;
}
.invisLink{
    /* macht die zwischentext Links weniger auffällig */
    color: black;
}
#head{
    /* Überschrift der Seite */
    background-color: #dddddd;
    margin: 0 auto;
    text-align: center;
    font-size: 225%;
}
#logoXR{
    /* Postionierung des Bildes und Design */
    width: 80px;
    
}
/* Design Hobbies Ende */

/* Design Schule */
table{
    font-family: Times;
    border: solid 5px #bbbbbb;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    border-spacing: 0;
    border-top: none;
}
th,td{
    width: 30px;
    height: 30px;
    border-left: solid #333333 1px;
    border-top: solid #333333 1px;
}
.colone{
    border-right: solid #333333 2px;
}
.rowone{
    border-bottom: solid #333333 2px;
}
.colsix{
    border-right: solid #333333 1px;
}
.rownine{
    border-bottom: solid #333333 1px;
}
caption{
    border: solid #bbbbbb 5px;
    border-bottom: none;
}
iframe{
    margin-top: 25px;
}
/* Ende Design Schule */

/* Design Impressum*/
#impressum{
    font-family: times;
}
/* Design Impressum*/

/* Design Namarie */
#namarie{
    font-size: 175%; 
    font-family:"Kunstler Script";
}
/* Design Namarie */

/* Design Lieblingslinks */
.links ul{
    width: 218px;
    margin: 0 auto;
    padding: 0;
}
/* Ende Design Lieblingslinks */

/*Design Tengwar*/
figcaption{
    font-family: italic;
    text-shadow: calc;
    font-size: medium;
}
/*Ende Design Tengwar*/

/* Design Startseite */
.invisLinkS{
    /* macht die zwischentext Links weniger auffällig */
    color: black;
    text-decoration: none; 
}
/* Ende Design Startseite */

/* Design Über Mich */
a.invisLinkP {
  text-decoration:none;
  position:relative;
  display:block;
}
a.invisLinkP:hover {
  border:none;
}
a.invisLinkP img {
  border:none;
}
a.invisLinkP span {
  visibility:hidden;
  position:absolute;
  top:20px;
  left:0;
}
a.invisLinkP:hover span {
  visibility:visible;
}
.invisLinkP{
    /* macht die zwischentext Links weniger auffällig */
    color: black;
    text-decoration: none; 
}

/* Ende Design Über Mich */
